body 
{   
	background-image: #f2f2f2;
	background-attachment: fixed;
	background-position: center;
   
   
	margin: 20px 50px;
	padding: 30px;
	border: 5px solid #000;
	display: inline-block;

	position: relative;
	top: ;
	bottom: ;
	right:;
	left: ;

}
.TITULO {background:#CCC}


ul {
    margin: 0px 0px;
	padding: 20px;
	border: 0px solid #000;
	display: inline-block;
    background-color: #58D3F7}

header {background:;}

.TITULO {text-align: center; text-decoration: underline;}
h2 {text-align: center; color: blue}
h3 {text-align: center; color: red}

a {text-decoration: none}
a:hover {text-decoration: underline;}
